{% extends "layout.html" %}

{% block content %}
<div class="content-section">

  <h2 class="border-bottom mb-4">{{ title }}</h2>

  <legend class="mb-2">Boilerplate Features</legend>
  <ul class="list-group">
    <li class="list-group-item">User Authentication</li>
    <li class="list-group-item">"Remember Me" Option</li>
    <li class="list-group-item">Protected URL's</li>
    <li class="list-group-item">Change User Settings such as Username, Email, Password and Profile Picture</li>
    <li class="list-group-item">Forgot Password Functionality</li>
  </ul>

</div>

{% endblock content %}